/* Universal */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Geral */
body {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.column {
    display: flex;
    flex-direction: column;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Cabeçalho */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39AAE1;
    color: #FFFFFF;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Seção - Banner */
.banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/fundo_banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Seção - Banner - Headline */
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.banner_headline h2 {
    font-size: 21px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Seção - Banner - Options */
.banner_options {
    height: 210px;
    display: flex;
}
.banner_esq,
.banner_cen,
.banner_dir {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
.banner_esq {
    background-color: #39AAE1;
}
.banner_cen {
    background-color: #0079C7;
}
.banner_dir {
    background-color: #2B4C99;
}
.banner_title {
    margin-bottom: 10px;
    font-size: 21px;
    color: #FFFFFF;
}
.banner_desc {
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_button {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}
.button_hours {
    display: flex;
    border-bottom: 1px solid #0079C7;
    padding-bottom: 10px;
    padding-top: 10px;    justify-content: space-between;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Corpo */
.corpo {
    display: flex;
    justify-content: center;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Corpo - Artigo */
.corpo section {
    flex: 2;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.widget_body {
    display: flex;
    flex-wrap: wrap;
}
.news_data {
    display: flex;
}
.news_data_post {
    background-color: #2B4C99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}
.news_data_like {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}
.news_thumb {
    margin-top: 10px;
}
.news_thumb img {
    width: 100%;
    height: auto;
}
.news_title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    font-size: 23px;
}
.news_text {
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
}
article a {
    text-decoration: none;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Corpo - Aside */
.corpo aside {
    flex: 1;
}
.widget_title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36A9E1;
    margin-top: 10px;
}
.widget_dep {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dep_cub {
    width: 150px;
    height: 150px;
    background-color: #36A9E1;
    margin-bottom: 30px;
}
.make_text {
    margin-bottom: 20px;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Rodapé */

footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}
.flex_column {
    display: flex;
    flex-direction: column;
}
.footer_menu {
    display: flex;
}
.footer_menu a {
    text-decoration: none;
    display: block;
    padding: 20px;
}
.fm_esq,
.fm_cen,
.fm_dir {
    flex: 1;
    color: #FFFFFF;
}
.fm_esq {
    background-color: #39AAE1;
}
.fm_cen {
    background-color: #0079C7;
}
.fm_dir {
    background-color: #2B4C99;
}
.footer_corpo {
    display: flex;
}
.fm_corpo_esq,
.fm_corpo_cen,
.fm_corpo_dir {
    flex: 1;
    color: #FFFFFF;
    padding-right: 20px;
}
.footer_corpo .widget_title_text {
    color: #FFFFFF;
    font-size: 16px;
}
.footer_copy {
    border-top: 1px solid #828282;
    color: #828282;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 30px;
}
.fm_banner_title {
    margin-bottom: 1px;
    font-size: 21px;
    color: #FFFFFF;
}
.fm_banner_desc {
    font-size: 15px;
    color: #FFFFFF;
    margin-top: 2px;
}
.fm_corpo_text_cinza {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #828282;
}
.fm_corpo_text_branco {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #FFFFFF;
}
.ender_tele {
    display: flex;
    justify-content: space-between;
}